$background-color: darksalmon;
$color: floralwhite;

body {
    box-sizing: border-box;
    background-color: $background-color;
    color: $color;
}

ul {
    border: 2px solid $color;
}

#test {
    color: black;
}